/* html{
height: 100%;
} */
body{
    background-color:#222;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-nav > li{
    padding-left:3rem;
    padding-right:3rem;
  }
p{
    color: rgba(255,255,255,.5);
}
h1{
    color: white;
}
article{
    border: solid;
    border-color: #343a40;
    border-radius: 10%;
    border-width: .4em;
    width: 15em;
    height: 13em;
    min-width: 100%;
    min-height: 100%;
}
#mainContent{
    margin-top: 2em;
}
.col-sm-3{
    margin-left: 2em;
    margin-bottom: 2em;
}
footer{
    text-align: center;
    color: rgba(255,255,255,.5);
}